<div class="container overflow">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Consent for Participants</h1>
        <hr>

        <p>This experiment will be used for research purpose, it will not disclose any personal information.</p>
        <p>Please make sure all your answers and operations is from your best of knowledge.</p>

        <hr>

        <div class="next-page-container">
          <button class="btn btn-success btn-lg" ng-click="nextPage()">AGREE and Proceed</button>
        </div>
      </div>
    </div>
  </div>