<div class="container overflow">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Instructions for Participants</h1>
        <hr>
  
        <h2>About</h2>
        <p>In the next screen, it will show the experiment for you with the two techniques: Marking Menu and Radial Menu. 
          The interface is split into two sections: Header Instructions in the top section, there will be a string of text that you are required to select. 
          In the bottom section, you will be shown a window requires you to invoke the menu and select the target text.</p>
  
        <h3>Header Instruction</h3>
        <img src="img/header-instruction.png" class="img-responsive">
        <hr>
        <p>Please use the following two techniques to copy and paste text:</p>

        <h3>Marking Menu</h3>
        <img src="img/window-marking.png" class="img-responsive">
        <img src="img/window-marking-expert.png" class="img-responsive">

        <h3>Radial Menu</h3>
        <img src="img/window-radial.png" class="img-responsive">

        <br>
  
        <h2>The Experiment</h2>
        <p>There will be 27 trials per technique and you are given a minute's rest between each technique.</p>
        <p>Press the <strong>Proceed</strong> button when you are ready.</p>
        <hr>
        <div class="next-page-container">
          <button class="btn btn-default btn-lg" ng-click="nextPage()">Proceed</button>
        </div>
      </div>
    </div>
  </div>